/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 body {
	word-wrap: break-word;
}

body {
	@apply  max-w-prose m-auto p-4 bg-slate-50 font-sans leading-relaxed text-left break-words 
}

a {
	color: #3273dc;
}
